@import "tailwindcss";

@theme {
  --color-bg: #ffffff;
  --color-text: #1d1d1d;
  --color-border: #6b6b6b;
  --color-button-bg: #bababa;
  --color-button-hover: #e9ecef;
  --color-search: #e1e1e1e1;
  --color-divider: #1a1a1a;
}

[data-theme="dark"] {
  --color-bg: #1a1a1a;
  --color-text: #e5e5e5;
  --color-border: #6b6b6b;
  --color-button-bg: #2d2d2d;
  --color-button-hover: #404040;
  --color-search: #474747;
  --color-divider: #b3afaf;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-text);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
